.word-grid {
	-fx-background-color: #121213;
	-fx-background-radius: 10 10 5 5;
}

.word-grid .empty-cells {
	-fx-border-color: #3A3A3C;
	-fx-border-width: 1.7;
	-fx-border-insets: 1.4;
}

.word-grid .filled-cells {
	-fx-border-color: #565758;
	-fx-border-width: 1.7;
	-fx-border-insets: 1.4;
}

.word-grid .grey-cells {
	-fx-background-color: #3A3A3C;
	-fx-background-insets: 1.4;
}

.word-grid .yellow-cells {
	-fx-background-color: #B49F3A;
	-fx-background-insets: 1.4;
}

.word-grid .green-cells {
	-fx-background-color: #538D4E;
	-fx-background-insets: 1.4;
}

.word-grid .correct-green-cells {
	-fx-background-color: #538D4E;
	-fx-background-insets: 1.4 0 1.4 0;
}

.drag-bar {
	-fx-background-color: #2b2b2b;
	-fx-background-radius: 10 10 0 0;
}

.title-tiles {
	-fx-background-color: #538D4E;
	-fx-background-insets: 3;
	-fx-background-radius: 5;
}

.drag-bar-buttons {
	-fx-background-color: #28282b;
	-fx-background-insets: 0;
	-fx-background-radius: 10;
}

.drag-bar-buttons:hover {
	-fx-background-color: #3A3A3C;
	-fx-background-insets: 1.5;
}

.drag-bar-buttons:pressed {
	-fx-background-color: #515154;
	-fx-background-insets: 1.5;
}

.keyboard-tile-lightgrey {
	-fx-background-color: #3A3A3C;
	-fx-background-insets: 2.5;
	-fx-background-radius: 4;
}

.keyboard-tile-darkgrey {
	-fx-background-color: #121213;
	-fx-background-insets: 3;
	-fx-background-radius: 4;
}

.keyboard-tile-green {
	-fx-background-color: #538D4E;
	-fx-background-insets: 3;
	-fx-background-radius: 4;
}

.keyboard-tile-yellow {
	-fx-background-color: #B49F3A;
	-fx-background-insets: 3;
	-fx-background-radius: 4;
}

.keyboard-tile-lightgrey:pressed {
	-fx-scale-x: 1;
	-fx-scale-y: 1;
}

.keyboard-tile-darkgrey:pressed {
	-fx-scale-x: 1;
	-fx-scale-y: 1;
}

.keyboard-tile-green:pressed {
	-fx-scale-x: 1;
	-fx-scale-y: 1;
}

.keyboard-tile-yellow:pressed {
	-fx-scale-x: 1;
	-fx-scale-y: 1;
}

.lose-card {
    -fx-background-radius: 10;
    -fx-background-color: #b43a3a;
}