/*
 * This is the core style class for wordle. Each section has a header
 * and a footer. All the common colors are defined at the top, but
 * most of the colors are imported from the css files in the "colors/"
 * directory. These colors are outlined as the following:
 *
 * Two different main themes: Light and Dark. The following theme-based colors are the following:
 * TODO
 *
 * Two different contrast modes: Low and High. The following contrast colors are the following:
 * -correct-color: Same as color for correct guesses.
 * -incorrect-color: Same as color for semi-correct guesses.
 *
 */

* {

}

/* =================================== Drag Bar Elements =================================== */

/* Wordle Title Tiles (This the styled "Wordle" that appears at the top of the application) */
.wordle-title-tiles {
    -fx-background-color: -correct-color;
    -fx-background-insets: 3;
    -fx-background-radius: 5;
}
/* End Word Title Tiles */

/* Drag Bar (The bar at the top of the application used for dragging and holds the menu items) */
.drag-bar {
    -fx-background-color: -color-c;
    -fx-background-radius: 10 10 0 0;
}
/* End Drag Bar */

/* Drag Bar Menu Items */
.drag-bar-buttons {
    -fx-background-color: -color-c;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
}

.drag-bar-buttons:hover {
    -fx-background-color: -color-b;
    -fx-background-insets: 1.5;
}

.drag-bar-buttons:pressed {
    -fx-background-color: -color-d;
    -fx-background-insets: 1.5;
}
/* End Drag Bar Menu Items */

/* =================================== Word Grid Elements =================================== */

/* Word Grid (This is basically just the background of the grid) */
.word-grid {
    -fx-background-color: -color-a;
    -fx-background-radius: 10 10 5 5;
}
/* End Word Grid */

/* Grid Tiles */
.empty-tile, .filled-tile, .selected-tile, .hinted-tile, .grey-tile, .yellow-tile, .green-tile, .winning-green-tile {
    -fx-background-color: -color-a;
    -fx-border-width: 1.7;
    -fx-border-insets: 1.4;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

/* Empty Tiles */
.empty-tile {
    -fx-border-color: -color-b;
}

.filled-tile {
    -fx-border-color: #565758;
}

.selected-tile {
    -fx-border-color: #6b6d6e;
}
/* End Empty Tiles */

.grey-tile, .yellow-tile, .green-tile, .winning-green-tile {
    -fx-background-insets: 1.4;
}

.grey-tile {
    -fx-background-color: -color-b;
}

.yellow-tile {
    -fx-background-color: -incorrect-color;
}

.green-tile, .winning-green-tile {
    -fx-background-color: -correct-color;
}

.winning-green-tile {
    -fx-background-insets: 1.4 0 1.4 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.good-job-text {
    -fx-fill: -c-base;
    -fx-font-family: ARIAL;
    -fx-font-size: 40;
    -fx-font-weight: bold;
}
/* End Grid Tiles */

/* =================================== Keyboard Elements =================================== */

/* Keyboard Key */
.lightgrey-key, .darkgrey-key, .yellow-key, .green-key, .yellowgreen-key {
    -fx-background-insets: 3;
    -fx-background-radius: 4;
}

.lightgrey-key:pressed, .darkgrey-key:pressed, .yellow-key:pressed, .green-key:pressed, .yellowgreen-key:pressed {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.lightgrey-key {
    -fx-background-color: -color-b;
    -fx-background-insets: 2.5; /* Not sure why this is here, might remove later */
}

.darkgrey-key {
    -fx-background-color: -color-a;
}

.yellow-key {
    -fx-background-color: -incorrect-color;
}

.green-key {
    -fx-background-color: -correct-color;
}

.yellowgreen-key {
    -fx-background-color: linear-gradient(to bottom right, -correct-color 0%, -correct-color 50%, -incorrect-color 50%);
}
/* End Keyboard Key */

/* =================================== SettingsScreen Elements =================================== */

/* SettingsScreen Pane */
.settings {
    -fx-background-color: rgba(51, 51, 51, 0.8);
    -fx-background-radius: 0 0 5 5;
}
/* End SettingsScreen Pane */

/* SettingsScreen Text */
.settings-text {
    -fx-fill: -c-base;
    -fx-font-family: Futura;
}

.settings-title {
    -fx-font-size: 40;
    -fx-fill: -c-base;
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
}
/* End SettingsScreen Text */

/* List Elements */
.settings-list-dark {
    -fx-background-color: #3d3d3d;
}

.settings-list-light {
    -fx-background-color: #474747;
}

.settings-info-buttons {
    -fx-background-color: -color-c;
    -fx-background-radius: 15;
}

.settings-info-buttons:hover {
    -fx-background-color: -correct-color;
}
/* End List Elements */

/* Info Box */
.settings-info-box {
    -fx-background-color: rgba(43, 43, 43, 0.8);
    -fx-background-radius: 10;
}
/* End Info Box */

/* Daily Wordle Elements */
.daily-wordle-box {
    -fx-background-color: #474747;
    -fx-background-radius: 10;
}
.daily-wordle-info-text-active {
    -fx-fill: -incorrect-color;
    -fx-font-family: Futura;
    -fx-font-size: 10;
}
.daily-wordle-button-play {
    -fx-background-color: -correct-color;
    -fx-background-radius: 5;
}
.daily-wordle-button-play:hover {
    -fx-background-color: -correct-color-l1;
}
.daily-wordle-button-play:pressed {
    -fx-background-color: -correct-color-l2;
}
.daily-wordle-button-view {
    -fx-background-color: -incorrect-color;
    -fx-background-radius: 5;
}
.daily-wordle-button-view:hover {
    -fx-background-color: -incorrect-color-l1;
}
.daily-wordle-button-view:pressed {
    -fx-background-color: -incorrect-color-l2;
}
.daily-wordle-button-text {
    -fx-font-family: ARIAL;
    -fx-font-size: 15;
    -fx-fill: white;
    -fx-font-weight: bold;
}
.daily-wordle-history-button {
    -fx-background-color: #575757;
    -fx-background-radius: 5;
}
.daily-wordle-history-button:hover {
    -fx-background-color: #646464;
    -fx-background-radius: 5;
}
.daily-wordle-history-button:pressed {
    -fx-background-color: #797979;
    -fx-background-radius: 5;
}
/* End Daily Wordle Elements */

.bottom-info-text {
    -fx-font-family: Futura;
    -fx-font-size: 18;
    -fx-fill: white;
    -fx-font-weight: bold;
}

.bottom-info-text:hover {
    -fx-fill: -correct-color;
}

/* =================================== Daily Wordle History Elements =================================== */

.settings-title {
    -fx-fill: -c-base;
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
    -fx-font-size: 17.5;
}

.scroll-pane {
    -fx-background-color: #474747;
    -fx-background-radius: 10;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #68686b;
    -fx-background-radius: 5em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #7c7c80;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #a2a2a4;
}

.done-button {
    -fx-background-color: #474747;
    -fx-background-radius: 15;
}
.done-button:hover {
    -fx-background-color: #737373;
}
.done-button:pressed {
    -fx-background-color: #797979;
}
.done-button-text {
    -fx-fill: -c-base;
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

/* =================================== Component Elements =================================== */

/* SettingsScreen Toggle */
.settings-toggle-off {
    -fx-background-color: #757575;
    -fx-background-radius: 10;
}

.settings-toggle-on {
    -fx-background-color: -correct-color;
    -fx-background-radius: 10;
}

.settings-toggle-handle {
    -fx-background-color: -c-base;
    -fx-background-radius: 8;
}
/* End SettingsScreen Toggle */

/* Lose Card */
.lose-card {
    -fx-background-radius: 10;
    -fx-background-color: #b43a3a;
}
/* End Lose Card */